<div class="container">
    <h3 class="text-center">Registration for Planning Site</h3>
    
    <form class="registration-form">
        <table class="table table-bordered">
            <tr>
                <td><label for="requestRefNum" class="labelRow">Request Reference Number</label></td>
                <td><input type="text" id="requestRefNum" class="form-control" value="11100" readonly></td>
            </tr>
            <tr>
                <td><label for="planningRefNum" class="labelRow">Planning Reference Number</label></td>
                <td><input type="text" id="planningRefNum" class="form-control"></td>
            </tr>
            <tr>
                <td class=""><label for="rotm" class="labelRow">ROTM</label></td>
                <td>
                    <select id="rotm" class="form-control">
                        <option value="" disabled selected>Please Selcet</option>
                        <option value="NTB">R-NTB</option>
                        <option value="KON">R-KON</option>
                        <option value="KX">R-KX</option>
                        <option value="HR">R-HR</option>
                        <option value="KT">R-KT</option>
                        <option value="PH">R-PH</option>
                        <option value="AW">R-AW</option>
                        <option value="HO">R-HO</option>
                        <option value="RM">R-RM</option>
                        <option value="AD">R-AD</option>
                        <option value="KG">R-KG</option>
                        <option value="MB">R-MB</option>
                        <option value="VA">R-VA</option>
                        <option value="RN">R-RN</option>
                        <option value="HB">R-HB</option>
                        <option value="AG">R-AG</option>
                        <option value="GL">R-GL</option>
                        <option value="HK">R-HK</option>
                        <option value="MD">R-MD</option>
                        <option value="DB">R-DB</option>
                        <option value="KY">R-KY</option>
                        <option value="GP">R-GP</option>
                        <option value="HT">R-HT</option>
                        <option value="NW">R-NW</option>
                        <option value="BD">R-BD</option>
                        <option value="BW">R-BW</option>
                        <option value="MRG">R-MRG</option>
                        <option value="AD">R-AD</option>
                        <option value="PR">R-PR</option>
                        <option value="KG">R-KG</option>
                        <option value="KLY">R-KLY</option>
                        <option value="CW">R-CW</option>
                        <option value="PX">R-PX</option>
                        <option value="BC">R-BC</option>
                        <option value="AP">R-AP</option>
                        <option value="KL">R-KL</option>
                        <option value="JA">R-JA</option>
                        <option value="KO">R-KO</option>
                        <option value="MB">R-MB</option>
                        <option value="MLT">R-MLT</option>
                        <option value="VA">R-VA</option>
                        <option value="EMB">R-EMB</option>
                        <option value="KE">R-KE</option>
                        <option value="RN">R-RN</option>
                        <option value="HB">R-HB</option>
                        <option value="MH">R-MH</option>
                        <option value="AG">R-AG</option>
                        <option value="GL">R-GL</option>
                        <option value="CEN">R-CEN</option>
                        <option value="NG">R-NG</option>
                        <option value="WT">R-WT</option>
                        <option value="GQ">R-GQ</option>
                        <option value="KI">R-KI</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="province" class="labelRow">Province</label></td>
                <td><input type="text" id="province" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="region" class="labelRow">Region</label></td>
                <td><input type="text" id="region" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="zone" class="labelRow">Zone</label></td>
                <td><input type="text" id="zone" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="lea" class="labelRow">LEA</label></td>
                <td>
                    <select id="lea" class="form-control">
                        <option value="" disabled selected>Please Select</option>
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="category" class="labelRow">Category</label></td>
                <td>
                    <select id="category" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="projectPhase" class="labelRow">Project Phase</label></td>
                <td>
                    <select id="projectPhase" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="implementationPhase" class="labelRow">Implementation Phase</label></td>
                <td>
                    <select id="implementationPhase" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="buildingPriority" class="labelRow">Building Priority</label></td>
                <td>
                    <select id="buildingPriority" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="buildingName" class="labelRow">Building Name</label></td>
                <td><input type="text" id="buildingName" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="buildingAddress" class="labelRow">Building Address</label></td>
                <td><input type="text" id="buildingAddress" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="locationLandMark" class="labelRow">Location Land Mark</label></td>
                <td><input type="text" id="locationLandMark" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="statusOfBuilding" class="labelRow">Status of the Building</label></td>
                <td><input type="text" id="statusOfBuilding" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="expectedConstructionDate" class="labelRow">Expected Construction Date</label></td>
                <td><input type="text" id="expectedConstructionDate" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="buildingContactName" class="labelRow">Building Contact Name</label></td>
                <td><input type="text" id="buildingContactName" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="buildingContactNumber" class="labelRow">Building Contact Number</label></td>
                <td><input type="text" id="buildingContactNumber" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="salesPersonContactName" class="labelRow">Sales Person Contact Name</label></td>
                <td><input type="text" id="salesPersonContactName" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="salesPersonContactNumber" class="labelRow">Sales Person Contact Number</label></td>
                <td><input type="text" id="salesPersonContactNumber" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="cluster" class="labelRow">Cluster (Area Name)</label></td>
                <td><input type="text" id="cluster" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="requestedFDPCount" class="labelRow">Requested FDP Count</label></td>
                <td><input type="text" id="requestedFDPCount" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="cxoApproval" class="labelRow">CXO Approval for Implementation</label></td>
                <td>
                    <select id="cxoApproval" class="form-control">
                        <option value="">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="approvedDate" class="labelRow">Approved Date</label></td>
                <td><input type="text" id="approvedDate" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="approvedFDPCount" class="labelRow">Approved FDP Count</label></td>
                <td><input type="text" id="approvedFDPCount" class="form-control"></td>
            </tr>
        </table>
        <div class="form-buttons">
            <button type="reset" class="btn-warning clear">Clear</button>
            <button type="submit" class="btn-success submit">Submit</button>
        </div>
    </form>
    
</div>